$colorText: #e00070;
$colorTextSeocondary: #580730;
$colorInfosBar: #fff;

$colorGradient1: #8e44ad;
$colorGradient2: #f39c12;
$colorGradient3: #27ae60;
$colorGradient4: #c0392b;
$colorGradient5: #16a085;